.navbar {
    background-color: rgb(12,12,12);
    height: 7.5vh;
    width: 100vw;
    align-items: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
}

.navbar h3 {
    margin-left: 1rem;
}