body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
}

.workout-preview {
  margin: 1rem 1rem 0 0;
  border-radius: 4px;
  width: 40vw;
  background-color: rgb(12, 12, 12);
}

.workout-preview * {
  margin-left: 1rem;
}

.workout-preview a:link, .workout-preview a:visited {
  color: white;
  text-decoration: none;
}

.excercises-list {
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.excercises-list h4 {
  display: grid;
  white-space: nowrap;
}

.workout-preview-list {
  display: flex;
  flex-direction: row;
  width: 95vw;
  overflow: auto;
  margin-left: 1rem;
  justify-content: space-between;
}

@media (prefers-color-scheme: dark) {
  /* @media (prefers-color-scheme: dark) { */
    html {
      color-scheme: dark;
    }
  /* } */
}


